@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23242a;
}

.box {
    position: relative;
    width: 370px;
    height: 450px;
    background-color: #1c1c1c;
    border-radius: 50px 5px;
}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 370px;
    height: 450px;
    background: linear-gradient(60deg,transparent,#45f3ff,#45f3ff);
    
    transform-origin: bottom right;
    animation: animate;
}