@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23242a;
}

.box {
    position: relative;
    width: 370px;
    height: 450px;
    background-color: #1c1c1c;
    border-radius: 50px 5px;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 370px;
    height: 450px;
    background: linear-gradient(60deg,transparent,#45f3ff,#45f3ff);
    
    /* El origen de la transformación es el punto alrededor del cual 
    se aplica una transformación. Por ejemplo, el origen de 
    transformación de la rotate()función es el centro de rotación.*/
    transform-origin: bottom right;

    /* Shorthand nombre dek keyframe, duracion, velocidad, numero de
    de veces a ejecutar */
    animation: animate 6s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 370px;
    height: 450px;
    background: linear-gradient(60deg,transparent,#d9138a,#d9138a);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: 3s;
}

form {
    position: absolute;
    inset: 2px;
    border-radius: 50px 5px;
    background-color: #28282d;
    z-index: 1;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
}

h2 {
    /* GAAAAAAAAAAAA */
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}